<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>
{{#if msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{this.msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{{/if}}
<form class="row g-3" method="post" action="/addUser">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="First Name"
        name="first_name"
    />
    <label for="floatingInput">First Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Last Name"
        name="last_name"
    />
    <label for="floatingInput">Last Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Phone Number"
        name="phone"
    />
    <label for="floatingInput">Phone</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="email@email.com"
        name="email"
    />
    <label for="floatingInput">Email</label>
  </div>
  <div class="form-floating mb-3">
    <textarea
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Comments"
        name="comment"
        style="height: 100px;"
    ></textarea>
    <label for="floatingInput">Comment</label>
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>